
/*font-family: 'EB Garamond', serif;
font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif;*/
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    background-color: #F4F4F2;
    background-image: url(bubbles.svg);
    background-repeat: no-repeat;
    background-position: top; /*Needs sorting to right possition.*/
}

.heading {
    font-family: 'EB Garamond', serif;
    font-size: 68px;
    color: #361E21;
    margin: 60px 0 0 100px;
    z-index: 10;
    
}

.calander-container{
    font-family: 'Lato', sans-serif;
    color: #34474F;
    font-size: 16px;
    font-weight: 300;

    display: grid;
    grid-template-columns: repeat(12, 1fr);  
    justify-content: space-evenly;
    padding: 40px 80px 100px 80px;
}
.odd .day {
    background-color:#E8E8E6;
}


.month-container {
    grid-column: span 1;
    justify-content: space-evenly;
    /*background-color:darksalmon;*/
    padding-top: 10px;
    text-align: start;
    justify-content: center;   
}

h2 {    
    padding-left: 8px;
    padding-bottom: 5px;
    font-family: 'EB Garamond', serif;
    font-size: 19px;
    font-weight: 100;
}

.current-month {
    border-radius: 10px;
    background-color: rgb(232, 232, 230, 0.8);
}
.day {
    grid-column: span 1;
    justify-content: space-evenly;
    background-color:#F4F4F2;/*this is the darker color*/
    padding: 10px;
    font-size: 12px;
    border: solid 1px #CF848E ;
    text-align: end;
    justify-content: center;
}



/*set the width to the exact of 7 squears*/